.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
}

.form__size-big input,
.form__size-big button {
    font-size: 1.1em;
}

.form__error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.1em;
    margin-bottom: 1em;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.form__error_success {
    visibility: visible;
    color: green;
    background: white;
    padding: 4px;
    margin: auto;
    margin-top: 15px;
    display: inline-block;
}
