.button
{
    padding: 1em;
    background-color: white;
    border: 1px solid white;
    color: #0b1233;
    font-family: Futura, serif;
}

.button:hover
{
    background-color: #ffffff42;
    color: white;
}
