.body {
    font-family: Futura;
    margin: 0;
    height: 100vh;
    background-color: #405ef3;
    background-image: url("/static/assets/img/back.jpg");
    max-height: 100vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

a,
button {
    transition: all 0.3s ease-in-out;
    color: white;
}

a:hover,
button:hover {
    color: gold;
    transition: all 0.3s ease-in-out;
}
