.menu {
    padding: 1em;
    display: flex;
    margin: auto 30px auto auto;
    justify-content: space-between;
    min-width: 17em;
}

.menu .button {
    text-transform: uppercase;
    margin-right: 1em;
}

.menu .button:not(.button__transparency-transparent) {
    box-shadow: 0 3px 6px 0 #4a4a4ab0;
}

@media (max-width: 320px) {
    .menu {
        padding: 0.5em;
        min-width: 14em;
        margin: auto;
    }
}
