.menu {
    padding: 1em;
    display: flex;
    margin: auto 30px auto auto;
    justify-content: flex-end;
}

.menu .button {
    text-transform: uppercase;
}

.menu .button:not(:last-child) {
    margin-right: 1em;
}

@media (max-width: 520px) {
    .menu {
        margin-right: 0;
    }

    .userinfo__name {
        display: none;
    }
}
