.plate {
    width: 20%;
    background: /*linear-gradient(#405ef3, #b4639e);*/ #0b1233bd;
    border: 1px solid white;
    height: 50vh;
    padding: 2em;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.plates__wrapper
{
    height: 86vh;
    display: flex;
}