.plate {
    width: 20%;
    background: /*linear-gradient(#405ef3, #b4639e);*/ #0b1233;
    border: 1px solid white;
    min-height: 50vh;
    padding: 2em;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}