.ad {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -256px;
    opacity: .5;

    .ad__img {
        border-radius: 14px;
    }

    .ad__close-button {
        color: black;
        text-shadow: none;
        position: absolute;
        top: 3px;
        right: 8px;
        font-size: 1.7em;
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
    }
}

@media (max-width: 520px) {
    .ad {
        bottom: 2.5em;
        margin-left: -150px;
    }

    .ad a {
        display: flex;
        width: 100%;
    }

    .ad__img {
        margin: auto;
        width: 300px;
    }
}
