.ad {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -256px;
}

@media (max-width: 520px) {
    .ad {
        bottom: 2.5em;
        margin-left: -150px;
    }

    .ad a {
        display: flex;
        width: 100%;
    }

    .ad__img {
        margin: auto;
        width: 300px;
    }


}
