.button {
    text-align: center;
    padding: .9em 1em;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    border: none;
    user-select: none;

    &:active {
        transform: scale(.99) translateY(2px);
    }
}

.button__alignment-right {
    border-radius: 5px 0 0 5px;
}

.button__type-primary {
    background-position: right center;
    background-size: 200% auto;
    font-size: 1.1em;
    color: white;
    background-image: linear-gradient(
        90deg,
        #4776e6 0%,
        #a95ae9 51%,
        #4776e6 100%
    );

    &:hover {
        background-position: 0 0;
    }
}

.button__type-danger {
    background-position: right center;
    background-size: 200% auto;
    color: white;
    background-image: linear-gradient(90deg, #dd5228 0, #de6822 51%, #dd5228);

    &:hover {
        background-position: 0 0;
    }
}

.button__type-secondary {
    background-color: white;
    color: #0b1233;

    &:hover {
        color: #5362a7;
    }
}

.button__color-gold {
    background-color: gold;
    color: black;

    &:hover {
        color: #565656;
    }
}

.button__type-disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
        color: #0b1233;
    }
}

@media (max-width: 320px) {
    .button {
        padding: 0.5em;
    }
}
