.logo {
    position: relative;
    top: 1.1em;
    left: 2.8em;
    opacity: .8;
}

.logo__image {
    height: 50px;
}

.logo__image_mobile {
    display: none;
}

.home-button {
    visibility: hidden;
    position: absolute;
    top: 1.7rem;
    padding: 1rem;
    font-size: 2em;
    background: none;
    color: white;
    text-decoration: none;
    transition: transform .2s;

    &:hover {
        background: none;
        color: white !important;
        transform: scale(1.1);
    }
}

@media (max-width: 700px) {
    :root {
        --logoTopPosition: 1.5rem;
        --logoLeftPosition: 2.5rem;
    }

    .logo {
        top: var(--logoTopPosition);
        left: var(--logoLeftPosition);
    }

    .home-button {
        top: var(--logoTopPosition);
        left: var(--logoLeftPosition);
        padding-left: 0;
    }

    .logo__image {
        display: none;
    }

    .logo__image_mobile {
        display: initial;
    }
}

@media (max-width: 520px) {
    :root {
        --logoLeftPosition: 1rem;
    }
}
