.logo {
    margin-top: 0.5em;
}

.logo__image {
    height: 65px;
}

.logo__image_mobile {
    display: none;
}

@media (max-width: 700px) {
    .logo__image {
        display: none;
    }

    .logo__image_mobile {
        display: initial;
    }
}

@media (max-width: 320px) {
    .logo {
        padding: 0.5em;
    }
}
