.logo {
    position: absolute;
    top: 1.6em;
    left: 2.5em;
}

.logo__image {
    height: 65px;
}

.logo__image_mobile {
    display: none;
}

.home-button {
    display: flex;
    visibility: hidden;
    position: absolute;
    top: 1.7rem;
    padding: 1rem;
    font-size: 2em;
    background: none;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;

    &:hover {
        background: none;
        color: white !important;
    }
}

@media (max-width: 700px) {
    :root {
        --logoTopPosition: 1.5rem;
        --logoLeftPosition: 2.5rem;
    }

    .logo {
        top: var(--logoTopPosition);
        left: var(--logoLeftPosition);
    }

    .home-button {
        top: var(--logoTopPosition);
        left: var(--logoLeftPosition);
        padding-left: 0;
    }

    .logo__image {
        display: none;
    }

    .logo__image_mobile {
        display: initial;
    }
}

@media (max-width: 520px) {
    :root {
        --logoLeftPosition: 1rem;
    }
}
