.body {
    font-family: Futura;
    margin: 0;
    height: 100vh;
    background-color: #405ef3;
    background-image: url("/2019_2_LeMMaS/assets/img/back.jpg");
    max-height: 100vh;
    overflow: hidden;
}

a, button{
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover, button:hover
{
    transition: all 0.3s ease-in-out;
}
