.header {
    display: flex;
    height: var(--headerHeight);
    padding: 1em 10vw 0 10vw;

    &_show-home-button {
        .home-button {
            visibility: visible;
        }

        .logo__image_mobile {
            display: none;
        }
    }
    width: 100%;
}
